.search-input-container {
    display:flex;
    flex-direction:row;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #EAEBED;
    border-radius: 8px;
    width: 773px;
    height: 48px;
    padding: 0px 12px;
    gap: 10px;
}

.input {
    display: flex;
    align-items: center;
    flex-grow:2;
    gap: 10px;


}

::placeholder{
    color: #ACADB9;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.input-component {
    outline: none;
    border:none;
    width: 80%;
}
.input-component:focus {
    outline: none;
}
